Binaries/
Intermediate/
Saved/
DerivedDataCache/

*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

*.dll
*.pdb
*.exp
*.lib
*.obj
*.exe

__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

.DS_Store
Thumbs.db
